.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row p {
  margin: 10px 5px;
}

.button {
  padding: 0px 12px;
  margin: 10px;
  outline: none;
  border: 1px solid transparent;
  color: #3a3c5a;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  transition: all 0.15s;
}

.button span {
  margin-left: 3px;
}

.heading {
  text-decoration: underline;
  font-weight: bold;
}

.error {
  font-weight: 300;
  color: red;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  border: 1px solid #3a3c5a;
}

.button:hover, .button:focus {
  border: 1px solid #3a3c5a;
}

.button:active {
  background-color: #cecece;
}
