.App {
  text-align: center;
  color: white;
}

.App-header {
  background-image: linear-gradient(to bottom right, #232435, #3a3c5a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
